<div class="col-md-8 col-md-offset-2">
	<h1>Edit Comment</h1>
	<%= simple_form_for([@message, @comment]) do |f| %>
		<%= f.input :content, label: "Comment" %>
		<%= f.button :submit %>
	<% end %>
</div>
